@page "/"
@using KwikMedicalHospital.HospitalCenter.Database
@using KwikMedicalHospital.HospitalCenter.Database.DataModel
@using Microsoft.AspNetCore.Components.Forms
@inject AppState AppState
@inject NavigationManager NavigationManager

<EditForm Model=@Login  OnValidSubmit=@logInto >
    <h3>Login</h3>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label for="Username" class="col-sm-5 col-form-label">
            Username
        </label>
        <div class="col-sm-5">
            <InputText id="Username" class="form-control" placeholder="Username" @bind-Value="Login.Username" />
        </div>
    </div>
    <div class="form-group row">
        <label for="Password" class="col-sm-5 col-form-label">
            Password
        </label>
        <div class="col-sm-5">
            <InputText id="Password" class="form-control" placeholder="Password" @bind-Value="Login.Password" />
        </div>
    </div>
    <div class="alert alert-primary @HideAlert" role="alert">
        @AlertContent
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</EditForm>

@code {

    LoginRequest Login = new LoginRequest();
    private string HideAlert { get; set; } = "d-none";
    private string AlertContent { get; set; } = "";

    public  void logInto() {

        Employee employee = LoginManager.Login(Login);
        if (employee != null)
        {
            AppState.Employee = employee;
            AppState.Hospital = employee.EmployeeHospital;
            NavigationManager.NavigateTo("/requests");
        }
        else
        {
            HideAlert = "";
            AlertContent = "No User found";
        }
    }


}