 @page "/checkDetails"
 @inject AppState AppState
 @inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Forms

<label style="color:orangered" id="Non_allocable_sev">
    Detail mismatch with NHS database, please check details for NHS number and accept if correct
</label>
<h1>Details From DB</h1>
<div>
<label for="PatientName" class="col-sm-5 col-form-label">
    Patient's Name: @Records.PatientName
</label>
<label for="PatientName" class="col-sm-5 col-form-label">
    NHS Number: @Records.NHSNumber
</label>
</div>
<input type="submit" value="Accept" onclick=@acceptDetails class="btn btn-primary" />
<input type="submit" value="Reject" onclick=@rejectDetails class="btn btn-primary" />

@code
{
    public Req ThisReq { get; set; }
    public PatientRecords Records { get; set; }

    protected override void OnInitialized()
    {
        if (AppState.Req is null) return;
        ThisReq = AppState.Req;
        Records = FormHandler.getPatientNameByNHSDetails(ThisReq.NHSNumber);
    }

    void acceptDetails()
    {
        FormHandler.MatchNameToNHSNumber(ThisReq, "");
        FormState state = FormHandler.SubmitForm(ThisReq);
        AppState.Req = ThisReq;
        if (state == FormState.NO_SEVERITY_ALLOCATED)
        {
            NavigationManager.NavigateTo("/addSeverity");
        }
        if (state == FormState.SUCCESS)
        {
            AppState.Req = null;
            NavigationManager.NavigateTo("/success");
        }
    }

    void rejectDetails() {

        FormHandler.ResetNameAndNHSNumber(ThisReq);
        FormState state = FormHandler.SubmitForm(ThisReq);
        if (state == FormState.NO_SEVERITY_ALLOCATED)
        {
            NavigationManager.NavigateTo("/addSeverity");
        }
        if (state == FormState.SUCCESS)
        {
            AppState.Req = null;
            NavigationManager.NavigateTo("/success");
        }

    }
}
