@page "/"
@using KwikMedicalAmbulanceGood.AmbulanceResponseCenter.Database.DataModel
@using Microsoft.AspNetCore.Components.Forms
@inject AppState1 AppState
@inject NavigationManager NavigationManager

<EditForm Model=@Login OnValidSubmit=@logInto>
    <h3>Login</h3>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label for="Username" class="col-sm-5 col-form-label">
            Username
        </label>
        <div class="col-sm-5">
            <InputText id="Username" class="form-control" placeholder="Username" @bind-Value="Login.Username" />
        </div>
    </div>
    <div class="form-group row">
        <label for="Password" class="col-sm-5 col-form-label">
            Password
        </label>
        <div class="col-sm-5">
            <InputText id="Password" class="form-control" placeholder="Password" @bind-Value="Login.Password" />
        </div>
    </div>
    <div class="form-group row">
        <label for="Ambulance" class="col-sm-5 col-form-label">
            Ambulance Id
        </label>
        <div class="col-sm-5">
            <InputText id="Ambulance" class="form-control" placeholder="Ambulance Id" @bind-Value="Login.Ambulance" />
        </div>
    </div>
    <div class="alert alert-primary @HideAlert" role="alert">
        @AlertContent
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
</EditForm>

@code {
    LoginRequest2 Login = new LoginRequest2();
    private string HideAlert { get; set; } = "d-none";
    private string AlertContent { get; set; } = "";

    public void logInto()
    {
        ResponseState state = LoginManager.Login(Login);
        if (state == ResponseState.OK)
        {
            //AppState.User = new AmbulanceEmployee(Login.Username);
            //AppState.Ambulance = Login.Ambulance;
            NavigationManager.NavigateTo("/requests");
        }
        else
        {
            HideAlert = "";
            if (state == ResponseState.NO_USER)
            {
                AlertContent = "No User found";
            }
            else if (state == ResponseState.NO_AMBULANCE)
            {
                AlertContent = "Could not allocate ambulance with this id";
            }
        }
    }
}
